.aside-blog{
    margin: 0px; 
    width: 100%;
    border:red;
    border-width: 5px;
    border-style: solid;  
    height: 90%;
    margin-bottom: 15px;
    margin-top: 15px;
    background-color: white;
    padding: 5px;
}
.main-blog{
background-color: white;
width: 100%;
padding: 5px;
}
h2{
 text-align: center;
}
